.product-show{
	.product-title{
		margin: 10px 0px 20px 0px;
	}

	#product-description{
		margin: 20px 0px 0px 0px;
		p{
			text-indent: 20px;
		}
	}
	.related-products{
		margin: 15px 0px 10px 0px;
	}
}