<div class="span16 marketing">
	<h1>Добро пожаловать в ТермоАрт</h1>
	<p class="marketing-byline">Мы делаем мир теплее</p>

	<p>Интернет магазин ТермоАрт занимается продажей товаров для систем отопления, водоснабжения, канализации, систем кондиционирования и прочего оборудования.
	Мы зарекомендовали себя, как поставщика качественного оборудования для этих систем. Наши цены приятно удивят Вас!

	<strong>МЫ ДОРОЖИМ СВОЕЙ РЕПУТАЦИЕЙ, И ПО ЭТОМУ НЕ ПРОДАЁМ КИТАЙСКИХ ПОДДЕЛОК!</strong>

	Мы не стоим на месте, постоянно движемся вперёд и расширяемся. Благодаря постоянно растущему ассортименту товаров, которые мы Вам предлагаем,  Вы сможете найти у нас, любой интересующий Вас товар.

	Радиаторы, конвекторы, трубы, арматура, котлы, бойлеры, фильтры и это лишь малая часть того, что Мы предлагает нашим покупателям.</p>

	<hr class="soften">
</div>