<div class="span4 well">
	<h3>Реквизиты и контакты</h3>
	<dl class="dl-horizontal">
		<dt>Директор</dt>
		<dd>Лобанова Екатерина Юрьевна</dd>
		<dt>ОГРНИП</dt>
		<dd>313774617500956</dd>
		<dt>Адрес</dt>
		<dd>Рынок "Мельница" (Славянский мир) (41-й км МКАД - внешняя сторона), ряд Б. павильон 18/4</dd>
		<dt>Телефон</dt>
		<dd>(495) 74-33-777</dd>
		<dt>ICQ</dt>
		<dd>637048900 (Георгий)</dd>
	</dl>

</div>

<div class="span7">

		<h3>Заказ товара на сайте Интернет–магазина ThermoArt.ru осуществляется круглосуточно.</h3>
	<div class="span15">
		<br>
		<p>Внимание! Заказы, оформленные клиентами через сайт, обрабатываются магазином в приоритетном порядке.</p>

<br>
<p><i>Время работы Отдела продаж магазина (центральный офис, г. Москва, время Московское):</i></p>
<dl class="dl-horizontal">
	<dt>Понед./Пятница:</dt>
	<dd>с 9:00 до 18:00</dd>
	<dt>Суббота:</dt>
	<dd>с 10:00 до 15:00</dd>
	<dt>Воскресенье</dt>
	<dd>выходной</dd>
</dl>
 
 

<p><i>Время работы Службы доставки:</i></p>
<dl class="dl-horizontal">
	<dt>Понед./Пятница:</dt>
	<dd>с 10:00 до 18:00</dd>
	<dt>Суббота:</dt>
	<dd>выходной</dd>
	<dt>Воскресенье</dt>
	<dd>выходной</dd>
</dl>
	</div>
</div>